[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "idionomics"]
	path = idionomics
	url = https://github.com/cristobalehc/idionomics
